*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    background: rgba(190, 186, 186, 0.048);
}
.mobile-header{
    display: none;
}
#form-wrapper{
    color: rgb(80, 77, 77);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
#banner{
    background:rgba(255, 196, 0, 0.466);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;

}
#banner img{
   width: 350px;
}
#banner h1{
    margin-top: 30px;
    height: 50px;
}
#banner h3{
      padding-top: 10px;
}


#form-header{
    width: 100%;
    display: flex;
    height: 150px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
#form-header h2{
    font-size: 30px;
    font-weight: 800;
    color: rgb(218, 167, 3);
}
#api-bar{
    height: 40px;
    max-width: 400px;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px rgba(88, 85, 85, 0.26), -2px 2px 3px rgba(98, 96, 96, 0.555);
}
.ficon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3b5998;

}
.icon-container, .ficon-container{
    margin: 0 5px;
}
.icon-container:hover, .ficon-container:hover{
    opacity: .8;
}
.facebook i{
    color:white;
}
.google i{
    color: white;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #dd4b39;
}
#divide{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}
.divider{
    margin-top: 15px;
    position: relative;
    padding: 0 6px;
}
.divider::before{
    content: '';
    background: rgba(104, 102, 102, 0.589);
    position: absolute;
    top: 50%;
    left: 100%;
    width: 100%;
    height: 2px;

}
.divider::after{
    right: 100%;
    content: '';
    background: rgba(104, 102, 102, 0.589);
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
}

form{
    height: 50%;
    max-width: 400px;
    min-width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

fieldset{
    width: 100%;
    border: none;
    position: relative;
}
fieldset input{
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 17px;
    text-indent: 30px;
    background: none;
    position: relative;
}
fieldset img{
    width: 25px;
    position: absolute;
    top: 13px;
}
form button{
    width: 80%;
    height: 40px;
    display: block;
    border: none;
    border-radius: 40px;
    background: rgb(255, 196, 0);
    color: white;
    font-weight: 600;
    font-size: 17px;
}
form button:hover{
    background: rgb(199, 158, 23);
}
.check{
    margin: 19px 0;
}
.check label{
    position: relative;
    margin-right: 21px;
}
.check a{
    text-decoration: none;
    color: #3b5998;

}
.check a:hover{
    text-decoration: underline;
}
#form-wrapper a{
        color: #3b5998;
        text-decoration: none;
}
#form-wrapper a:hover{
        text-decoration: underline;
}


#checkbox label::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 50%;
    background: #fff;
}
.round{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background: rgb(255, 196, 0);
    clip-path: ellipse(50% 16% at 11% 100%);
    z-index: -999;
}
.round-top{
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: 300px;
    background: rgb(255, 196, 0);
    z-index: -999;
    clip-path: ellipse(54% 18% at 100% 1%);
}
.sign-up{
    position: absolute;
    top: 0;
    background: rgb(43, 44, 43);
    transform: translateX(-442px);
    opacity: 0;
    transition: transform .3s linear, opacity .5s linear;
    pointer-events: none;
}
.show-sign-up{
transform: translateX(0);
opacity: 1;
transition: transform .3s linear, opacity .5s linear;
}
.sign-up #form-header, .sign-up #divide, .sign-up h3{
    color: rgb(187, 178, 178) !important;
}
@media only screen and (max-width: 768px){
    body{
        display: block;
        width: 100vw;
        min-height: 100vh;
    }
    #form-wrapper{
        width: 100%;
        margin: auto;
    }
   #banner{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 12vh;
       overflow:hidden;
       display: block;
   }
   .mobile-header{
       display: block;
       text-align: center;
       font-size: 30px;
       color: black;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 600;
   }
}