<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Team NEO</title>
    <link href="../content/plugins/bootstrap-4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../content/plugins/MDBootstrap/css/mdb.min.css" rel="stylesheet" />
    <link href="../content/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom css -->
    <link href="../content/css/custom.css" rel="stylesheet">
    <!-- Site core CSS file -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../favicon.ico" type="image/ico" />

</head>
<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark blue">
    <a class="navbar-brand" href="/">
        <img src="../content/images/team-neo-logo.png" height="30" alt="mdb logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <!--<ul class="navbar-nav mr-auto">-->
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#">Home-->
                    <!--<span class="sr-only">(current)</span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item">
                <a href="/" class="nav-link waves-effect waves-light">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light rounded">
    <div class="col-md-12 p-lg-12 mx-auto">
        <h1>Home</h1>
        <h3 class="font-weight-normal">Welcome User to The Team NEO Experience!</h3>
        <div class="row">
            <div class="col-md-6">
                <img src="../content/images/team.svg"  class="rounded center d-flex align-items-center img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <p class="font-weight-normal">
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur nec velit ante. Aenean tempus ligula tortor, vitae sollicitudin magna tristique vitae. Pellentesque sollicitudin magna est, eu luctus magna aliquet sed. Aenean viverra ipsum sit amet bibendum ornare. Integer lectus orci, facilisis ut ornare vel, ultricies in elit. Sed a massa eu lectus semper ultricies. In sed sem lobortis, porta sem sit amet, egestas ipsum. Nunc condimentum venenatis erat quis mattis. Nulla blandit maximus feugiat. Maecenas vel enim et orci accumsan sagittis. Praesent rutrum nisi id magna eleifend suscipit. Praesent congue porta orci ut molestie. Vestibulum et eleifend odio. Donec iaculis lorem in imperdiet scelerisque. Quisque dictum est diam.

                    Sed sapien felis, tristique eu sagittis eget, tempor id tortor. Phasellus vel nibh turpis. Fusce dignissim magna sit amet massa rutrum, at ornare tortor scelerisque. Nullam purus quam, tincidunt nec est quis, dignissim feugiat justo. Praesent fermentum lobortis dui id ullamcorper. Nunc at pretium odio. Aenean ipsum nisl, finibus eu mi quis, tempor egestas nunc. Aliquam convallis at lectus vel vulputate. Ut sit amet interdum massa, et vehicula nibh. Sed tempus ex libero, et finibus mi sollicitudin a. Duis sed leo eu ante pulvinar ullamcorper. Vestibulum nisl massa, varius pharetra cursus sed, dapibus sed lorem. Aenean id dictum urna. Nulla facilisi. Donec gravida auctor nibh, id venenatis turpis dapibus luctus.

                    Vivamus semper dui at quam luctus efficitur eget et mauris. Nullam sit amet aliquam libero, eget sagittis velit. Morbi vitae elit eleifend, posuere erat et, gravida urna. Donec ut pretium turpis. Nulla ultrices, eros nec molestie lacinia, diam ligula blandit nulla, eget lacinia eros metus sed nisi. Mauris vel ipsum augue. Ut erat ante, vestibulum ut rhoncus quis, ultrices sed massa. Nullam ullamcorper ex nec libero venenatis vehicula. Aliquam ut eros augue.
                </p>
            </div>
        </div>
        <a class="btn btn-blue" href="#">Read More...</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>




<script src="../content/plugins/modernizr.js"></script>
<script src="../content/plugins/jquery/dist/jquery.min.js"></script>
<script src="../content/plugins/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="../content/plugins/MDBootstrap/js/tether.min.js"></script>
<script src="../content/plugins/MDBootstrap/js/mdb.min.js"></script>

</body>
</html>